# Networking CICD Pipeline with pre-change validation powered by Nexus Dashboard
name: pipeline-dev

# Controls when the workflow will run
on:
  # Triggers the workflow on push (and merge) events on the dev branch
  push:
    branches: [dev]

# Environment variables
env:
  IG_NAME: dc_spain
  SITE_NAME: MLG01
  PYTHONWARNINGS: "ignore:Unverified HTTPS request"

jobs:
  # Run ansible lint on the complete directory
  ansible-lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8

      - name: Install yamllint
        run: pip install yamllint

      - name: Lint YAML files
        run: yamllint ./playbooks

      - name: Send Webex Notification
        uses: adealdag/action-webex-notification@python-v1
        if: always()
        with:
          webexToken: ${{ secrets.WEBEX_TOKEN }}
          roomID: ${{ secrets.ROOM_ID }}
          markdownMsg: |
            ### [${{ github.job }}] ${{ github.repository }} - ${{ github.event.head_commit.message }}
            * Trigger: ${{ github.event_name }}
            * Git SHA: ${{ github.sha }}
            * Status: ${{ job.status }}
            * Details URL: [Job Results](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})

  # Run ansible dry-run using check mode. Result is uploaded as artifact
  ansible-dry-run:
    runs-on: self-hosted
    needs: ansible-lint
    container: adealdag/ansible:latest

    steps:
      - uses: actions/checkout@v2

      - name: Run ansible playbook dry-run
        env:
          VAULT_KEY: ${{ secrets.VAULT_KEY }}
        run: |
          ansible --version
          echo $VAULT_KEY > vault.key
          ansible-playbook -i inventory.yaml --vault-password-file vault.key deploy.yaml --check
          rm vault.key
        working-directory: playbooks

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: config-dump
          path: playbooks/dryrun_data.json

      - name: Send Webex Notification
        uses: adealdag/action-webex-notification@python-v1
        if: always()
        with:
          webexToken: ${{ secrets.WEBEX_TOKEN }}
          roomID: ${{ secrets.ROOM_ID }}
          markdownMsg: |
            ### [${{ github.job }}] ${{ github.repository }} - ${{ github.event.head_commit.message }}
            * Trigger: ${{ github.event_name }}
            * Git SHA: ${{ github.sha }}
            * Status: ${{ job.status }}
            * Details URL: [Job Results](https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }})

  # Run pre-change validation on Nexus Dashboard Insights. Uses the artifact saved previously
  pre-change-validation:
    runs-on: self-hosted
    needs: ansible-dry-run
    container: adealdag/ansible:beta

    steps:
      - uses: actions/checkout@v2

      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: config-dump
          path: tools/pre-change-playbook

      - name: Run pre-change analysis playbook
        env:
          VAULT_KEY: ${{ secrets.VAULT_KEY }}
          ANSIBLE_COLLECTIONS_PATH: /root/.ansible/collections:/usr/share/ansible/collections
        run: |
          ansible --version
          echo $VAULT_KEY > vault.key
          ansible-playbook -i inventory.yaml --vault-password-file vault.key pre-change-validation.yaml
          rm vault.key
        working-directory: tools/pre-change-playbook

      - name: Send Webex Notification
        uses: adealdag/action-webex-notification@python-v1
        if: always()
        with:
          webexToken: ${{ secrets.WEBEX_TOKEN }}
          roomID: ${{ secrets.ROOM_ID }}
          markdownMsg: |
            ### [${{ github.job }}] ${{ github.repository }} - ${{ github.event.head_commit.message }}
            * Trigger: ${{ github.event_name }}
            * Git SHA: ${{ github.sha }}
            * Status: ${{ job.status }}
            * Details URL: [Nexus Dashboard Insights](${{ secrets.ND_HOST }}/appcenter/cisco/nexus-insights/ui/#/changeManagement/preChangeAnalysis)
